h2, h4, .center {
    width: 80vw;
    text-align: center;
    font-family: 'Muli', sans-serif;
}

.transact-form{
    background-color: rgba(50,50,50,0.5);
    width: 100vw;
}

.bit-form{
    width: 80vw;
    margin: 5vw;
    padding: 30px;
}

.mat-card {
    background-color: rgba(255,255,255,0.8);
}

table, td {
    padding: 15px;
    font-family: 'Muli', sans-serif;
}

.info {
    border: 1px dashed #666;
    background: rgba(100,150,200,0.5);
    min-width: 40vw;
}

.pad {
    padding-top: 30px;
}