<div class="transact-form">
        <mat-card class="bit-form">
<h2>Your order has been confirmed!</h2>
<div  *ngIf = "tr">
    <table>
    <tbody>
        <tr><td>Name:</td><td class="info">{{tr.name}}</td></tr>
        <tr><td>Contact No.:</td><td class="info">+65-{{tr.contact}}</td></tr>
        <tr><td>Gender:</td><td class="info">{{ tr.gender }}</td></tr>
        <tr><td>Date of Birth:</td><td class="info">{{ tr.dob | date }}</td></tr>
        <tr><td>Order Date:</td><td class="info">{{ tr.orderDate | date }}</td></tr>
        <tr><td>Units {{(tr.orderType === 'Buy' ? 'Bought' : 'Sold')}}:</td><td class="info">{{ tr.unit }}</td></tr>
        <tr *ngIf="tr.orderType ==='Buy'"><td>Bitcoin Address:</td><td class="info">{{ tr.btcAddress }}</td></tr>
        <tr><td>Rate:</td><td class="info">{{ tr.rate | number: '.2'}}</td></tr>
        <tr><td>Total:</td><td class="info">{{ tr.total | number: '.2' }}</td></tr>
   </tbody>
    </table>
</div>

<h2>To Complete your Transaction</h2>
<div  *ngIf = "tr.orderType ==='Buy'">
    <h4>Please wire the funds to the below PayNow Code.<br>
        Once the SGD funds are received we will send the Bitcoin to your Wallet Address!</h4>
   <div class="center" ><img src = "assets/images/qrcode.png" width="150px"></div>
</div>
<div  *ngIf = "tr.orderType ==='Sell'">
        <h4>Please wire the Bitcoin to the below Wallet Address.<br>
            Once the Bitcoin has been received received we will send the SGD funds to your PayNow!</h4>
       <div class="center info" ><h4>bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5md</h4></div>
    </div>
<div class="center pad">
        <button mat-raised-button color="accent" [routerLink]="['/']">Back Home</button>
</div>
</mat-card>
</div>
