<div class="transact-form">
    <mat-card class="bit-form">
        <form [formGroup]="transactForm" (ngSubmit)="onSubmit()">
            <h2 class="center">Bitcoin Transaction Request</h2>
            <div fxLayout="column" fxLayoutAlign="flex-start" fxLayoutGap="1vw">
            <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-hint *ngIf="transactForm.touched && f.name.errors?.required">Please input a Name</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width">
                    <input matInput placeholder="Contact No." formControlName="contact">
                    <span matPrefix>+65&nbsp;</span>
                    <mat-hint *ngIf="transactForm.touched && f.contact.errors?.required">Please input a Contact No.</mat-hint>
                    <mat-error *ngIf="transactForm.touched && f.contact.errors?.pattern">Please enter a valid Singapore Mobile Number</mat-error>
                </mat-form-field>
            <div class="full-width" fxLayout="row" fxLayoutAlign="" fxLayoutGap="2vw">
            <label for="gender">Gender:</label>
            <mat-radio-group name="gender" id="gender" formControlName="gender">
                <div fxLayout="row" fxLayoutAlign="" fxLayoutGap="2vw">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Male">Female</mat-radio-button>
                </div>
                <mat-hint *ngIf="transactForm.touched && f.gender.errors?.required">Please input a Gender</mat-hint>
            </mat-radio-group>
            </div>
            <mat-form-field class="full-width">
                    <input matInput readonly [matDatepicker]="dob" [max]="startDate" placeholder="Date of Birth" formControlName="dob" >
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                    <mat-hint *ngIf="transactForm.touched && f.dob.errors?.required">Please input a Date of Birth</mat-hint>
                    <mat-error *ngIf="transactForm.touched && f.dob.errors">Age must be at least 21</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                    <input matInput readonly [matDatepicker]="orderDate" [min]="startDate" placeholder="Order Date" formControlName="orderDate" >
                    <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
                    <mat-datepicker #orderDate></mat-datepicker>
                    <mat-hint *ngIf="transactForm.touched && f.orderDate.errors?.required">Please input an Order Date</mat-hint>
            </mat-form-field>
            <h2 class="center">Select Bitcoin Transaction Type: {{transactForm.value.orderType | uppercase }} <br></h2>
            <div class="center">
            <mat-button-toggle-group formControlName="orderType" (change)="changeType($event)"> 
                <mat-button-toggle value="Buy" class="submit-button" aria-label="Buy">Buy</mat-button-toggle>
                <mat-button-toggle value="Sell" class="submit-button" aria-label="Sell">Sell</mat-button-toggle>
            </mat-button-toggle-group>
            </div>
            <div fxLayout="row column">
            <mat-form-field appearance="fill" class="first-half">
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" matInput placeholder="Units to Transact" (keyup)="calculatePrice($event)" formControlName="unit"> 
                    <span matPrefix>BTC&nbsp;</span>
                    <mat-hint *ngIf="transactForm.touched && f.unit.errors?.required">Please input number of units of Bitcoin</mat-hint>
                    <mat-error *ngIf="transactForm.touched && f.unit.errors?.pattern">Please input a valid number</mat-error>     
            </mat-form-field>
            <div *ngIf="transactForm.value.orderType === 'Buy'">
                <mat-form-field appearance="fill" class="second-half">
                        <mat-label>Buying Rate</mat-label>
                        <input matInput disabled=true value="{{bitcoin.ask | number: '.2'}}"> 
                        <span matPrefix>SGD&nbsp;</span>
                        <span matSuffix>&nbsp;= 1 BTC</span>
                </mat-form-field>
            </div>
            <div *ngIf="transactForm.value.orderType === 'Sell'">
                <mat-form-field appearance="fill" class="second-half">
                        <mat-label>Selling Rate</mat-label>
                        <input matInput disabled=true value="{{bitcoin.bid | number: '.2'}}"> 
                        <span matPrefix>SGD&nbsp;</span>
                        <span matSuffix>&nbsp;= 1 BTC</span>
                </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Total Amount</mat-label>
                    <input matInput disabled=true value="{{ transactionAmount | number: '.2'}}"> 
                    <span matPrefix>SGD&nbsp;</span>
            </mat-form-field>
            <div *ngIf="transactForm.value.orderType === 'Buy'">
                    <mat-form-field appearance="fill" class="full-width">
                    <input matInput placeholder="Bitcoin Address" formControlName="btcAddress">
                    <mat-hint *ngIf="transactForm.touched && f.btcAddress.errors?.required">Please input a Bitcoin Address.</mat-hint>
                        </mat-form-field>
                </div>


            <div class="center" *ngIf="transactForm.value.orderType === 'Sell'">
                    <h4>Please scan the below QR Code with PayNow.</h4>
                    <img src = "assets/images/qrcode.png" width="150px">
            </div>

            <div  class="full-width" fxLayout="row" fxLayoutAlign="space-around">
                <button mat-raised-button class="submit-button" color="warn" (click)="cancel()">Cancel</button>
                <button mat-raised-button class="submit-button" color="accent" button type="submit" [disabled]="transactForm.invalid">Make Transaction</button>
            </div>
            </div>
        </form>
    </mat-card>
</div>