.mat-form-field, h2, h4 {
   font-family: 'Muli', sans-serif; 
}

.header {
    margin: auto;
    height: 50vh;
    width: 90vw;
    font-weight: 900;
    font-size: 3rem;
    padding-top: 200px;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 2px 2px 5px #333;
}

.transact-form{
    background-color: rgba(50,50,50,0.5);
    width: 100vw;
}

.bit-form{
    width: 80vw;
    margin: 5vw;
    padding: 10px;
}

.full-width {
    width: 100%;
}

.submit-button {
    width: 20vw;
}

.mat-card {
    background-color: rgba(255,255,255,0.8);
}

.mat-hint {
    color: red;
    font-size: 0.9em;
}

.mat-button-toggle-checked{
    background-color: rgb(255,193,7,0.8);
}

.center{
    width: 100%;
    text-align: center;
}

.first-half{
    width: 40vw;
}

.second-half{
    width: 40vw;
}

@media only screen and (max-width: 500px) {
    .first-half{
        width: 80vw;
    }
    .second-half{
        width: 80vw;
    }
  }

input[disabled] {
    color: #005B96;
 }