.fixed-bg {
    background-image: url('../assets/images/bitcoin-background.jpg');
    min-height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.mat-toolbar {
    background-color: #333;
    font-family: 'Muli', sans-serif; 
}
  
.home {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: #fff;
}
